@using Syncfusion.Blazor.Navigations


<h4>Sample Treeview</h4>
<p style="color: darkred; font-weight: bold;">Ensure view is updated to reflect design</p>
<SfTreeView TValue="OrgItem">
    <TreeViewFieldsSettings TValue="OrgItem" Id="Id" DataSource="@RepoList" Text="OrgName" HasChildren="HasSubFolders" Expanded="Expanded"></TreeViewFieldsSettings>
</SfTreeView>

@code{
    public class OrgItem
    {
        public string Id { get; set; } = "";
        public string ParentId { get; set; } = "";
        public string OrgName { get; set; } = "";
        public bool Expanded { get; set; }
        public bool HasSubFolders { get; set; }
    }
    List<OrgItem> RepoList = new List<OrgItem>();
    protected override void OnInitialized()
    {
        base.OnInitialized();
        RepoList.Add(new OrgItem
        {
            Id = "1",
            OrgName = "User's Github Username",
            HasSubFolders = true,
            Expanded = true
        });
        RepoList.Add(new OrgItem
        {
            Id = "2",
            ParentId = "1",
            OrgName = "Sample Organisation 1",
        });
         RepoList.Add(new OrgItem
        {
            Id = "2",
            ParentId = "1",
            OrgName = "Sample Organisation 2",
        });
         RepoList.Add(new OrgItem
        {
            Id = "2",
            ParentId = "1",
            OrgName = "Sample Organisation 3",
        });
        
    }
}