@page "/"
@using RepoManager.Controls

@using Syncfusion.Blazor.Navigations
<br />
<br/>
<div class="top-row pl-4 ">
    <a class="navbar-brand top-row" href=""><h1>Bulk Repository Manager</h1></a>
    
</div>
<div class="row">
    <div class="col-3">

        <OrgTree />
    </div>
    <div class="col-9">
        <RepoGrid />
    </div>
</div>

