@page "/"
@using RepoManager.Controls

@using Syncfusion.Blazor.Navigations
<div>
    <h2 style="text-align: center;">Bulk Repository Manager</h2>
    <p>This web page allows you to conduct selected bulk operations on your GitHub repositories.</p>
    <p>To continue, you need to connect to GitHub by clicking the button</p>  
    <p></p>
    <button class="btn btn-primary" @onclick="GitHubLogin">Gonnect to GitHub</button>
    <p></p>
    <hr />
</div>
<div class="row">
    <div class="col-3">
        <UserTree TreeSourceData="@Tree" />
    </div>
    <div class="col-9">
        <RepoGrid RepoList="@RepoList" />
    </div>
</div>

@code{

    public List<TreeViewItemModel> Tree { get; set; } = new();
    public List<RepoListItemModel> RepoList { get; set; } = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LoadDummyData();
    }

    public void GitHubLogin()
    {
        // Place code to commence OAuth flow to GitHub
    }

    private void LoadDummyData()
    {
        // This method populates the controls with dummy data for testing
        LoadDummyUserTree();
        LoadDummyRepoSamples();
    }

    private void LoadDummyRepoSamples()
    {
        for (int i = 1; i < 23; i++)
        {
            RepoList.Add(new RepoListItemModel { IsSelected = false, RepoName = $"Repository Sample {i}" });
        }
    }

    private void LoadDummyUserTree()
    {
        Tree.Add(new TreeViewItemModel { Id = "1", FolderName = "Tree Root", HasSubFolders = true, Expanded = true });
        Tree.Add(new TreeViewItemModel { Id = "2", FolderName = "Branch 1", ParentId = "1" });
        Tree.Add(new TreeViewItemModel { Id = "3", FolderName = "Branch 2", ParentId = "1" });
        Tree.Add(new TreeViewItemModel { Id = "4", FolderName = "Branch 3", ParentId = "1" });
    }


}

